<%- include inc/header %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<em>Portions of the materials are the copyrights and trademarks of White Wolf Entertainment AB, and are used with permission. All rights reserved. For more information please visit white-wolf.com.</em>
<%- include inc/footer %>