<%- include ../inc/header %>

<h1>Account created</h1>
<p>An account has been created for you at the email address <%= user.email%>. Your email address acts as your log in.</p>

<%- include ../inc/footer%>